* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #2d3e50;
    font-family: 'Arial', sans-serif;
}

.tree {
    position: relative;
    text-align: center;
}

.star {
    font-size: 2rem;
    color: gold;
    position: relative;
    z-index: 10;
    margin-bottom: -25px
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
}

.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -20px;
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
}

.trunk {
    width: 40px;
    height: 50px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}