* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle at 50% 55%, hsl(212,55%,53%), hsl(212,55%,43%), hsl(212,55%,23%));
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    overflow: hidden;
}

.tree {
    position: relative;
    text-align: center;
    transition: transform 0.5s ease, font-size 0.5s ease;
}

.grade {
    font-size: 0.5rem;
    position: relative;
    z-index: 10;
}

.star {
    font-size: 4rem;
    color: gold;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-shadow: 
        0 0 10px rgba(255, 215, 0, 0.8), 
        0 0 20px rgba(255, 215, 0, 0.6),
        0 0 30px rgba(255, 215, 0, 0.4),
        0 0 40px rgba(255, 215, 0, 0.3);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 
            0 0 10px rgba(255, 215, 0, 0.8),
            0 0 20px rgba(255, 215, 0, 0.6),
            0 0 30px rgba(255, 215, 0, 0.4),
            0 0 40px rgba(255, 215, 0, 0.3);
            transform: translateX(-50%) scale(1);
    }
    100% {
        text-shadow: 
            0 0 20px rgba(255, 215, 0, 1),
            0 0 30px rgba(255, 215, 0, 0.8),
            0 0 50px rgba(255, 215, 0, 0.6),
            0 0 70px rgba(255, 215, 0, 0.5);
            transform: translateX(-50%) scale(1.2);
    }
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
}

.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -20px;
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
}

.trunk {
    width: 40px;
    height: 100px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}

.ball {
    height: 12px;
    width: 12px;
    border-radius: 80%;
    margin-top: 5px;
    animation: blink 3s linear infinite;
    position: absolute;
}

.red {
    background-color: red;
    animation-delay: 1s;
}

.green {
    background-color: green;
    animation-delay: 2s;
}

.blue {
    background-color: blue;
    animation-delay: 3s; 
}

@keyframes blink{
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

.layer1 .ball:nth-child(1) { top: 10px; left: 0px; }
.layer1 .ball:nth-child(2) { top: 20px; left: -25px; }
.layer1 .ball:nth-child(3) { top: 30px; left: 20px; }

.layer2 .ball:nth-child(1) { top: 10px; left: -10px; }
.layer2 .ball:nth-child(2) { top: 20px; left: 10px; }
.layer2 .ball:nth-child(3) { top: 30px; left: 0px; }
.layer2 .ball:nth-child(4) { top: 40px; left: -30px; }
.layer2 .ball:nth-child(5) { top: 50px; left: 25px; }
.layer2 .ball:nth-child(6) { top: 60px; left: -10px; }
.layer2 .ball:nth-child(7) { top: 70px; left: 50px; }
.layer2 .ball:nth-child(8) { top: 80px; left: -70px; }
.layer2 .ball:nth-child(9) { top: 90px; left: 0px; }
.layer2 .ball:nth-child(10) { top: 100px; left: -105px; }
.layer2 .ball:nth-child(11) { top: 110px; left: 95px; }
.layer2 .ball:nth-child(12) { top: 120px; left: -80px; }

.layer3 .ball:nth-child(1) { top: 10px; left: 5px; }
.layer3 .ball:nth-child(2) { top: 15px; left: -17px; }
.layer3 .ball:nth-child(3) { top: 20px; left: 15px; }
.layer3 .ball:nth-child(4) { top: 30px; left: 30px; }
.layer3 .ball:nth-child(5) { top: 40px; left: -16px; }
.layer3 .ball:nth-child(6) { top: 50px; left: -50px; }
.layer3 .ball:nth-child(7) { top: 70px; left: -40px; }
.layer3 .ball:nth-child(8) { top: 80px; left: 0px; }
.layer3 .ball:nth-child(9) { top: 90px; left: 75px; }
.layer3 .ball:nth-child(10) { top: 100px; left: 100px; }
.layer3 .ball:nth-child(11) { top: 110px; left: -90px; }
.layer3 .ball:nth-child(12) { top: 120px; left: 0px; }
.layer3 .ball:nth-child(13) { top: 130px; left: 100px; }
.layer3 .ball:nth-child(14) { top: 140px; left: 130px; }
.layer3 .ball:nth-child(15) { top: 150px; left: -135px; }

footer {
    bottom: 5%;
    position: absolute;
}

.snowflake {
    position: absolute;
    background: white;
    width: random(5px,15px);
    height: 10px;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh) translateX(30px); /* Move snowflakes to the bottom and horizontally */
        opacity: 0;
    }
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 20;
}




@media (max-width: 430px) {
    .tree {
        transform: scale(0.8);  
        transform-origin: center; 
    }

    .star {
        font-size: 3rem;  
        top: -30px;     
    }

    .layer1, .layer2, .layer3 {
        border-left: 35px solid transparent; 
        border-right: 35px solid transparent;
    }

    .layer2 {
        border-left: 100px solid transparent; 
        border-right: 100px solid transparent;
        border-bottom: 100px solid #28a745;
    }

    .layer3 {
        border-left: 130px solid transparent; 
        border-right: 130px solid transparent;
        border-bottom: 130px solid #28a745;
    }

    .trunk {
        width: 30px;     
        height: 70px;     
        margin-top: -10px; 
    }

    .ball {
        height: 8px;  
        width: 8px;
    }

    .layer1 .ball:nth-child(1) { top: 7px; left: 0px; }
    .layer1 .ball:nth-child(2) { top: 14px; left: -20px; }
    .layer1 .ball:nth-child(3) { top: 22px; left: 15px; }

    .layer2 .ball:nth-child(1) { top: 7px; left: -8px; }
    .layer2 .ball:nth-child(2) { top: 14px; left: 8px; }
    .layer2 .ball:nth-child(3) { top: 22px; left: 0px; }
    .layer2 .ball:nth-child(4) { top: 30px; left: -22px; }
    .layer2 .ball:nth-child(5) { top: 38px; left: 18px; }
    .layer2 .ball:nth-child(6) { top: 47px; left: -8px; }
    .layer2 .ball:nth-child(7) { top: 55px; left: 40px; }
    .layer2 .ball:nth-child(8) { top: 64px; left: -55px; }
    .layer2 .ball:nth-child(9) { top: 73px; left: 0px; }
    .layer2 .ball:nth-child(10) { top: 81px; left: -50px; }
    .layer2 .ball:nth-child(11) { top: 89px; left: 75px; }
    .layer2 .ball:nth-child(12) { top: 98px; left: -35px; }

    .layer3 .ball:nth-child(1) { top: 7px; left: 4px; }
    .layer3 .ball:nth-child(2) { top: 12px; left: -15px; }
    .layer3 .ball:nth-child(3) { top: 17px; left: 12px; }
    .layer3 .ball:nth-child(4) { top: 25px; left: 25px; }
    .layer3 .ball:nth-child(5) { top: 33px; left: -12px; }
    .layer3 .ball:nth-child(6) { top: 42px; left: -20px; }
    .layer3 .ball:nth-child(7) { top: 58px; left: -30px; }
    .layer3 .ball:nth-child(8) { top: 70px; left: 0px; }
    .layer3 .ball:nth-child(9) { top: 80px; left: 60px; }
    .layer3 .ball:nth-child(10) { top: 90px; left: 85px; }
    .layer3 .ball:nth-child(11) { top: 100px; left: -50px; }
    .layer3 .ball:nth-child(12) { top: 110px; left: 0px; }
    .layer3 .ball:nth-child(13) { top: 120px; left: 85px; }
    .layer3 .ball:nth-child(14) { top: 100px; left: 90px; }
    .layer3 .ball:nth-child(15) { top: 110px; left: -100px; }
}
